/**
 * Establish font settings
 *
 */

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/FuturaStdMedium.woff') format('woff'),
       url('../fonts/FuturaStdMedium.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/RalewayLight.woff') format('woff'),
       url('../fonts/RalewayLight.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/RalewayMedium.woff') format('woff'),
       url('../fonts/RalewayMedium.ttf')  format('truetype');
}

@font-face {
  font-family: 'SerifGothic';
  src: url('../fonts/SerifGothicBold.woff') format('woff'),
       url('../fonts/SerifGothicBold.ttf')  format('truetype');
}
