/**************
EPISODE 1
**************/


.episode-1 {

    .drawing {

        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 80%;
        height: 60%;

    }

    background: #C74D3A;

}
