/**************
EPISODE 1
**************/


section.episode-1 {

    .drawing {
        position: absolute;
        bottom: 0px;
        left: 215px;
        right: 215px;

        canvas {
            width: 100%;
            height: 430px;
        }

    }

    .starship {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 30;
        animation: vibrations 1.3s linear infinite alternate;
    }

    .module {
        position: absolute;
        width: 500px;
        height: auto;
        bottom: -100px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .module-left {
        left: -100px;
    }

    .module-right {
        right: -100px;
    }
}

@keyframes vibrations {
    0%   { transform: translate3d(1px, 0px, 0); }
    20%  { transform: translate3d(3px, 0px, 0) rotate(0.3deg); }
    40%  { transform: translate3d(-2px, 1px, 0) rotate(0.2deg); }
    60%  { transform: translate3d(0px, -2px, 0); }
    80% { transform: translate3d(4px, 1px, 0); }
    100% { transform: translate3d(0px, 0px, 0) rotate(-0.3deg); }
}

@keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
