/* * */


/**************
    HOME
**************/


.home{
    .splash{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -70%);
        .logo{
            max-width: 100%;
        }

        h2 {
            margin-top: 30px;
            font-size: 36px;
            text-align: center;
            font-family: 'SerifGothic', sans-serif;
            text-transform: uppercase;
            color: white;
        }
    }
    .continue {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 160%);
        text-align: center;

        p {
            width: 300px;
            font-size: 19px;
            color: white;
            margin-bottom: 20px;
        font-family: 'RalewayLight', sans-serif;
        }
        button {
            width: 310px;
            height: 50px;
            border: 2px solid white;
            border-radius: 30px;
            color: white;
            transition: all .3s;
            font-family: 'FuturaStd', sans-serif;
            font-size: 26px;
            text-transform: uppercase;

            &:hover {
                color: black;
                background-color: white;
                cursor: pointer;
            }
        }
    }
}
