/**
 * Loader
 *
 */

.fade-out {
    transition: all .3s;
    z-index: 200;
    opacity: 0;
}

.loader {
    z-index: 200;
    text-align: center;

    h1 {
        display: none;
    }
    
    .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .lightsabers {
            display: flex;
            width:105px;
            height: 100px;
            align-items: center;
            justify-content: space-around;

            span.lightsaber {
                width: 5px;
                height: 30px;
                background-color: white;
                border-radius: 3px;
            }

            span.lightsaber:nth-child(1) {
                box-shadow: -1px -1px 15px red , 1px 1px 15px red;
                animation: grow .5s ease-out 0s infinite alternate;
            }

            span.lightsaber:nth-child(2) {
                box-shadow: -1px -1px 15px rgb(0, 255, 255) , 1px 1px 15px rgb(0, 255, 255);
                animation: grow .5s ease-out .2s infinite alternate;
            }
 
            span.lightsaber:nth-child(3) {
                box-shadow: -1px -1px 15px rgb(0, 255, 56) , 1px 1px 15px rgb(0, 255, 56);
                animation: grow .5s ease-out .4s infinite alternate;
            }
 
            span.lightsaber:nth-child(4) {
                box-shadow: -1px -1px 15px violet , 1px 1px 15px violet;
                animation: grow .5s ease-out .6s infinite alternate;
            }
        }
    }
}

@keyframes grow {
    0%   { transform: scaleY(1); }
    100% { transform: scaleY(2.8); }
}
