/**************
EPISODE SELECTION
**************/

.cards {
    width: 175%;
    height: 100%;

    text-align: center;

    color: white;
    text-shadow: 0px 1px 2px #1B1B1B;
    transform: translateZ(0);

    .card {
        position: relative;

        float: left;
        overflow: hidden;

        width: 14.28%;
        height: 100%;

        transition: all .3s;
        transform: translateZ(0);

        span.background {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;

            transition: transform .3s;
            transform: translateZ(0);

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:hover {

            .darken {
                opacity: 0;
            }

            .number {
                color: transparent;
                background : white;
                p {
                    color: black;
                    text-shadow: 0px 0px 0px white;
                }
            }

            span.background{
                transform: scale(1.02) translateZ(0);
            }

            .lock {
                animation: pop .5s;

            }

        }

        .darken {
            width: 100%;
            height: 100%;

            transition: opacity .3s;

            opacity: .15;
            background-color: #1C1C1C;
        }

        .lock {
            position: absolute;
            top:50%; left: 50%;

            width: 50px;

            transform: translate(-50%, -50%);

            opacity: .95;

        }

        &:nth-child(1){
            span.background {
                background-image: url('../img/film-1.jpg')
            }
        }

        &:nth-child(2){
            span.background {
                background-image: url('../img/film-2.jpg')
            }
        }

        &:nth-child(3) {
            span.background {
                background-image: url('../img/film-3.jpg');
            }
            .darken {
                opacity: 0.65;
            }
        }

        &:nth-child(4) {
            span.background {
                background-image: url('../img/film-4.jpg');
            }
            .darken {
                opacity: 0.65;
            }
        }

        &:nth-child(5) {
            span.background {
                background-image: url('../img/film-5.jpg');
            }
            .darken {
                opacity: 0.65;
            }
        }

        &:nth-child(6) {
            span.background {
                background-image: url('../img/film-6.jpg');
            }
            .darken {
                opacity: 0.65;
            }
        }

        &:nth-child(7) {
            span.background {
                background-image: url('../img/film-7.jpg');
            }
            .darken {
                opacity: 0.65;
            }
        }
    }
}

.select .content {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: 'SerifGothic', serif;

    .title {
        font-size: 18px;
        line-height: 26px;
    }

    .number {
        position: relative;

        display: inline-block;

        width: 60px;
        height: 60px;
        margin-bottom: 20px;

        transition: all .3s;
        transform: rotate(45deg);

        border: 2px solid white;
        border-radius: 20%;
        box-shadow: 0px 1px 2px #1B1B1B;

        p {
            top: 50%;
            left: 50%;

            padding: auto;

            transform:  rotate(-45deg) translate(-11px, 11px);

            text-shadow: 0px 0px 2px #1B1B1B;

            font-size: 30px;
        }
    }
}

@keyframes pop {
    20% { transform:  translate(-50%, -50%) scale(1.2) translateZ(0); }
    100% { transform:  translate(-50%, -50%) scale(1) translateZ(0); }
}
