/**************
EXPERIMENT
**************/

section.experiment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;

    .title {
        z-index: 40;
        position: relative;
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin: 70px auto 0;
        width: 80%;
        color: white;

        .scene-number {
            transform: translateY(-25px);
            display: inline-block;
            text-align: right;
            position: relative;
            width: 40%;
            font-family: 'RalewayLight', serif;

            h3 {
                font-family: 'RalewayMedium', serif;
            }

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                right: 0;
                height: 5px;
                width: 300px;
                background-color: white;
                background: linear-gradient(to left, rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%);
            }
        }

        p.number {
            position: absolute;
            top: 96px;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'SerifGothic', serif;
            font-size: 50px;
        }

        .episode-number {
            display: inline-block;
            text-align: center;
            min-width: 90px;
            height: 90px;
            line-height: 82px;
            vertical-align: middle;
            box-shadow: 0 1px 1px rgba(#1b1b1b, 0.5);
            border: 4px solid white;
            border-radius: 10px;
            margin: 50px;
            transform: rotate(45deg);

        }

        .description {
            transform: translateY(-25px);
            display: inline-block;
            position: relative;
            width: 40%;
            font-family: 'RalewayLight', serif;

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
                height: 5px;
                width: 300px;
                background-color: white;
                background: linear-gradient(to right, rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 100%);
            }
        }
    }
}
